Repository ar90n/AlbumBot, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, source, ci, dependencies, cloudflare, line-api, storage

fix: add crypto polyfill for Node.js test environment
  .github/workflows/ci.yml
  package-lock.json
  package.json
  tests/setup.ts
  tsconfig.json
  vitest.config.ts
Labels: tests, ci, dependencies

fix: resolve TypeScript crypto linting errors
  tests/setup.ts
  tsconfig.json
Labels: tests, dependencies

fix: resolve TypeScript crypto linting errors
  tests/setup.ts
  tsconfig.json
  wrangler.toml
Labels: tests, dependencies, cloudflare

enable logger
  wrangler.toml
Labels: cloudflare

debug
  src/handlers/webhook.ts
Labels: source, line-api

feat: update signature validation to match LINE SDK base64 format
  src/services/line.ts
  src/types/line.ts
  src/utils/crypto.ts
  tests/unit/utils/crypto.test.ts
Labels: tests, source, line-api

refactor: remove message reply functionality
  src/handlers/media.ts
  src/handlers/webhook.ts
  src/services/line.ts
  src/types/line.ts
  src/utils/crypto.ts
  tests/integration/webhook-flow.test.ts
  tests/unit/handlers/media.test.ts
  tests/unit/services/line.test.ts
  tests/unit/utils/crypto.test.ts
Labels: tests, source, line-api, storage

chore: update low-risk dependencies
  package-lock.json
  package.json
Labels: dependencies

chore: update medium-risk dependencies
  package-lock.json
  package.json
Labels: dependencies

chore: update @types/node to v24 (major version update)
  package-lock.json
  package.json
Labels: dependencies

chore: update GitHub Actions dependencies
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Labels: ci

.github/labeler.yml:

# Configuration for labeler action

documentation:
  - '**/*.md'
  - 'docs/**/*'

tests:
  - 'tests/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

source:
  - 'src/**/*'

ci:
  - '.github/**/*'
  - '.github/workflows/**/*'

dependencies:
  - 'package.json'
  - 'package-lock.json'
  - 'tsconfig.json'

cloudflare:
  - 'wrangler.toml'
  - 'src/index.ts'
  - 'src/types/env.ts'

line-api:
  - 'src/services/line.ts'
  - 'src/types/line.ts'
  - 'src/handlers/webhook.ts'

storage:
  - 'src/services/storage.ts'
  - 'src/handlers/media.ts'
